# Build generated
SlideMenuMSP.xcodeproj/project.xcworkspace
 SlideMenuMSP.xcodeproj/build/
 SlideMenuMSP.xcodeproj/DerivedData
 SlideMenuMSP.xcodeproj/build.xcarchive
SlideMenuMSP.xcodeproj/xcuserdata/
## Various settings
 SlideMenuMSP.xcodeproj/*.pbxuser
 SlideMenuMSP.xcodeproj/!default.pbxuser
 SlideMenuMSP.xcodeproj/*.mode1v3
 SlideMenuMSP.xcodeproj/!default.mode1v3
 SlideMenuMSP.xcodeproj/*.mode2v3
 SlideMenuMSP.xcodeproj/!default.mode2v3
 SlideMenuMSP.xcodeproj/*.perspectivev3
 SlideMenuMSP.xcodeproj/!default.perspectivev3
 SlideMenuMSP.xcodeproj/xcuserdata
 SlideMenuMSP.xcodeproj/project.xcworkspace/xcuserdata
 
